.weather-display-container {
  font-size: 1.2rem;
}

li {
  list-style: none;
  margin-left: 15px;
}

.header-description {
  font-weight: 700;
  color: rgb(0, 0, 58);
  display: inline-block;
  margin-bottom: 15px;
}

.highlight {
  background-color: rgb(0, 0, 58);
  color: white;
  border-radius: 5px;
}

.highlight-1 {
  font-size: 3rem;
}

.blue {
  color: blue;
}

.description li {
  display: flex;
  justify-content: space-between;
}
